<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manticore Energy Solutions</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Manticore Home Energy Solutions</h1>

    <form action="/results" method="POST">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="Zip Code" name="zipCode">
        <button type="submit">Submit</button>
    </form>

    <script src="/public/main.js"></script>
</body>
</html>
