<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manticore Energy Solutions</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <ul>
        <li>JUST GO SOLAR!  WHAT ARE YOU DOING!?!?! - $2000</li>
        <li>Geothermal - $5000</li>
        <li>Hire a man to pedal an exercise bike that powers your heating and cooling like that episode of Black Mirror - $15,000/yr</li>
    </ul>
</body>
</html>